In [16]:
Panda y NumPy son parte de la libreria SciPy
    NumPy: Basado en paquetes de arrays N-dimensionales
    Pandas: estructura de datos y análisis. Sirve, entre otras cosas, para manejar tablas

SyntaxError: invalid syntax (<ipython-input-16-d05888c3797d>, line 1)

# matplotlib

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot') #usar un estilo de gráfico distinto al que viene por defecto en matplotlib
#cuando genere un gráfico salga en el notebook porque si no lo manda a un device que debemos configurar:
%matplotlib inline

In [ ]:
plt.plot([1,2,3], [4,5,7])

In [ ]:
#genere un espacio lineal entre 0 y 10 que tenga 50 puntos:
X = np.linspace(0,10,50)
sin = np.sin(X)
cos = np.cos(X)

plt.plot(X,sin)
plt.plot(X, cos)
plt.show()

In [ ]:
plt.scatter(X, sin)
plt.scatter(X, cos)
plt.show()

# Numpy

In [ ]:
a_lista = [1,2,3,5,2]
a = np.array(a_lista)

In [ ]:
a.dtype

In [ ]:
a * 2

In [ ]:
a.shape

In [ ]:
a.ndim

In [ ]:
a2 = np.array([[1,2,3], [4,6,7], [3,2,5],[49,8,7]])
print(a2)

print(a2.shape)
print(a2.size)

In [ ]:
print(np.zeros([4,3]))

In [ ]:
print(np.ones([4,3]))

In [ ]:
#matriz indentidad
print(np.eye(3))

In [ ]:
#crear vectores
print(np.arange(10))

print(np.arange(12,23))

print(np.arange(24,34, .5))

In [ ]:
#creamos una matriz de 100 x 100 filas x columnas
np.arange(10000).reshape(100,100)

In [ ]:
#conjunto de herramientas para crear vectores
help(np.random.randn)

In [ ]:
np.random.randn(10)

In [ ]:
np.random.rand(10)

### Ejercicio

crear un ejemplo de puntos que siga la ecuación $Y = AX + B$ , donde A = 2.5 y B = 20

Dibujar como una nube de puntos o una línea

In [ ]:
x = np.random.rand(10)
y = 2.5 * x + 20
plt.plot(x,y)
plt.scatter(x,y, c= 'blue')
plt.show()

In [ ]:
X2 = np.linspace(-3,5,20)
Y_square = X2 ** 2
plt.scatter(X2,Y_square)
plt.show()

 ### Indexing

In [ ]:
narray = np.arange(100000)
plist = range(100000)

In [ ]:
import math

In [ ]:
%%timeit
#list comprehesion
[math.sqrt(n) for n in plist]

In [ ]:
%%timeit

np.sqrt(narray)

In [ ]:
a3 = np.array([[1, 2,5], [3, 4,77], [6, 62, 12], [33, 34,8]])

In [ ]:
a3

### slicing

In [ ]:
a3[2:]

In [ ]:
a3[2:, 1:]

In [ ]:
a3 > 3

In [ ]:
a3 % 2 == 0

In [ ]:
(a3 > 3) & (a3 % 2 ==0)

In [ ]:
a3

In [ ]:
#usamos el array que nos da como una máscara (o filtro) para indexar el array original
#sobre a3 aplicamos las condiciones que le pasamos, en este caso que cada valor sea mayor que 3 y par
a3[(a3 > 3) & (a3 % 2 ==0)]

In [ ]:
evens = a3 % 2 == 0 #pares
gt_3 = a3 > 3
even_and_gt_3 = evens & gt_3

In [ ]:
a3[evens]

In [ ]:
a3[gt_3]

In [ ]:
even_and_gt_3

In [ ]:
a3 > 21

### cuidado con el copiado

In [ ]:
b = a3[1] 
#copia en b la fila 1 de a3 y queda referenciado
b[:] = 2 # esto afecta a a3

#mejor hacer copia implícita
c = a3[1].copy()

### Matrix operations

In [ ]:
a

In [ ]:
#producto escalar por sí mismo
a.dot(a)

In [ ]:
a3

In [ ]:
a3.dot(np.arange(3))

In [ ]:
a3.transpose()

In [ ]:
print(a3.sum())
print(a3.cumsum()) #suma acumulada
print(a3.cumprod()) #producto acumulado

### Algebra lineal

In [ ]:
from numpy import linalg as la
help(la)

In [ ]:
#convertir en matriz a4 para poder usar ciertos métodos de matrices
a4 = np.mat(a3)

In [ ]:
#INVERSA de matriz
a4.I

In [ ]:
la.inv(a4)

In [ ]:
a4

In [ ]:
a4 =  a3[1:]
a4

In [ ]:
la.inv(a4)

In [ ]:
la.det(a4)

In [ ]:
np.version.version

In [ ]:
#norma de una matriz
#es una medida de su dimensión
#la norma típica que usamos es el módulo
la.norm(np.arange(3)) #norma del vector (0,1,2) -> sqrt(0 ** 2 + 1 ** 2 + 2 ** 2)

In [ ]:
help(la.norm)

### Ejercicio
en una granja de pollos y conejos hay 35 cabezas y 94 patas. ¿Cuántos pollos y cuantos conejos tenemos?

c = conejos
p = pollos
Nº de combinaciones posibles: 36 (0 conejos 35 pollos hasta 35 conejos y 0 pollos)
2 * p + 4 * c = 94 patas \n
p + c = 35

In [ ]:
A = np.mat([[2,4], [1,1]])

In [ ]:
A

In [ ]:
A.I

In [ ]:
#B = (94,35)
#A.inver * A * X = I * X = A.inver * B

In [ ]:
B = np.mat([94,35]).T

In [ ]:
B

In [ ]:
#trasponer
B.T

In [ ]:
X = A.I.dot(B)

In [ ]:
X

# PANDAS

In [ ]:
import pandas as pd

In [ ]:
# PANDAS permite trabajar con datos tabulares

### Series

In [ ]:
s = pd.Series([1,2,4.5,7,2,23,15])
s

In [ ]:
print(s.index)
print(s.values)

In [ ]:
type(s.values)

In [ ]:
s2 = pd.Series([1,2,4.5,7,2,23,15], index=list('ifghyrw'))
s2

In [ ]:
s2['f']

In [ ]:
s2 % 2 == 0

In [ ]:
s2[s2 % 2 == 0]

In [19]:
np.exp(s2)

i    2.718282e+00
f    7.389056e+00
g    9.001713e+01
h    1.096633e+03
y    7.389056e+00
r    9.744803e+09
w    3.269017e+06
dtype: float64

In [21]:
sdata= {'B' : 3e6, 'M' : 6e6, 'P': 1.2e5, 'V' : 7e5}

s3 = pd.Series(sdata)
s3

B    3000000.0
M    6000000.0
P     120000.0
V     700000.0
dtype: float64

In [22]:
increase = {'M' : 4e5, 'B' : 2e5,  'Z': -2e4}

s4 = pd.Series(increase)

In [23]:
s3 + s4

B    3200000.0
M    6400000.0
P          NaN
V          NaN
Z          NaN
dtype: float64

In [24]:
s3.name = 'poblacion_2000'
s3.index.name = 'provincia'

In [25]:
s3

provincia
B    3000000.0
M    6000000.0
P     120000.0
V     700000.0
Name: poblacion_2000, dtype: float64

In [26]:
type(s3.index)

pandas.core.indexes.base.Index

### DataFrame

In [28]:
dfdata = {
    'provincia' : ['M', 'M', 'M', 'B', 'B'],
    'poblacion' : [1.5e6, 2e6, 3e6, 5e5, 1.5e6],
    'year' : [1900, 1950, 2000, 1900, 2000]
}

df = pd.DataFrame(dfdata)
df

   poblacion provincia  year
0  1500000.0         M  1900
1  2000000.0         M  1950
2  3000000.0         M  2000
3   500000.0         B  1900
4  1500000.0         B  2000

In [32]:
#cambiar orden
df2 = pd.DataFrame(dfdata, columns=['provincia', 'poblacion', 'year', 'debt'])
df2

  provincia  poblacion  year debt
0         M  1500000.0  1900  NaN
1         M  2000000.0  1950  NaN
2         M  3000000.0  2000  NaN
3         B   500000.0  1900  NaN
4         B  1500000.0  2000  NaN

In [33]:
df2.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
df2.columns

Index(['provincia', 'poblacion', 'year', 'debt'], dtype='object')

In [35]:
df2['poblacion']

0    1500000.0
1    2000000.0
2    3000000.0
3     500000.0
4    1500000.0
Name: poblacion, dtype: float64

In [36]:
df2['2_lenguaje'] = np.nan

In [37]:
df2['2_lenguaje']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 2_lenguaje, dtype: float64

In [39]:
df2.index=list('abcde')

In [40]:
df2

  provincia  poblacion  year debt  2_lenguaje
a         M  1500000.0  1900  NaN         NaN
b         M  2000000.0  1950  NaN         NaN
c         M  3000000.0  2000  NaN         NaN
d         B   500000.0  1900  NaN         NaN
e         B  1500000.0  2000  NaN         NaN

In [51]:
df2.loc['c'] #saca columnas

provincia         M
poblacion     3e+06
year           2000
debt              2
2_lenguaje      NaN
capital        True
Name: c, dtype: object

In [52]:
df2.iloc[2:]

  provincia  poblacion  year  debt  2_lenguaje  capital
c         M  3000000.0  2000   2.0         NaN     True
d         B   500000.0  1900   0.5         NaN    False
e         B  1500000.0  2000   7.0         NaN    False

In [42]:
df2['debt']=10.0
df2

  provincia  poblacion  year  debt  2_lenguaje
a         M  1500000.0  1900  10.0         NaN
b         M  2000000.0  1950  10.0         NaN
c         M  3000000.0  2000  10.0         NaN
d         B   500000.0  1900  10.0         NaN
e         B  1500000.0  2000  10.0         NaN

In [44]:
df2['debt'] = [1,0,2,.5,7]
df2

  provincia  poblacion  year  debt  2_lenguaje
a         M  1500000.0  1900   1.0         NaN
b         M  2000000.0  1950   0.0         NaN
c         M  3000000.0  2000   2.0         NaN
d         B   500000.0  1900   0.5         NaN
e         B  1500000.0  2000   7.0         NaN

In [45]:
df2['capital'] = df2['provincia'] == 'M'
df2

  provincia  poblacion  year  debt  2_lenguaje  capital
a         M  1500000.0  1900   1.0         NaN     True
b         M  2000000.0  1950   0.0         NaN     True
c         M  3000000.0  2000   2.0         NaN     True
d         B   500000.0  1900   0.5         NaN    False
e         B  1500000.0  2000   7.0         NaN    False

In [46]:
df2.describe()

          poblacion    year      debt  2_lenguaje
count  5.000000e+00     5.0  5.000000         0.0
mean   1.700000e+06  1950.0  2.100000         NaN
std    9.082951e+05    50.0  2.837252         NaN
min    5.000000e+05  1900.0  0.000000         NaN
25%    1.500000e+06  1900.0  0.500000         NaN
50%    1.500000e+06  1950.0  1.000000         NaN
75%    2.000000e+06  2000.0  2.000000         NaN
max    3.000000e+06  2000.0  7.000000         NaN

### Objetos índices

In [47]:
df2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [50]:
df2.index[1] = 'x'  #los índices son inmutables por eso da error esto

TypeError: Index does not support mutable operations

### descartar entradas desde los ejes

In [53]:
s5 = pd.Series(np.arange(5), list('jduvk'))
s5

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [54]:
s5.drop(['d', 'k'])

j    0
u    2
v    3
dtype: int64

In [55]:
s5

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [56]:
#eliminar fila
df2.drop('c')

  provincia  poblacion  year  debt  2_lenguaje  capital
a         M  1500000.0  1900   1.0         NaN     True
b         M  2000000.0  1950   0.0         NaN     True
d         B   500000.0  1900   0.5         NaN    False
e         B  1500000.0  2000   7.0         NaN    False

In [57]:
#eliminar columna
df2.drop('2_lenguaje', axis=1)

  provincia  poblacion  year  debt  capital
a         M  1500000.0  1900   1.0     True
b         M  2000000.0  1950   0.0     True
c         M  3000000.0  2000   2.0     True
d         B   500000.0  1900   0.5    False
e         B  1500000.0  2000   7.0    False

In [58]:
df3 = df2.copy()
df3

  provincia  poblacion  year  debt  2_lenguaje  capital
a         M  1500000.0  1900   1.0         NaN     True
b         M  2000000.0  1950   0.0         NaN     True
c         M  3000000.0  2000   2.0         NaN     True
d         B   500000.0  1900   0.5         NaN    False
e         B  1500000.0  2000   7.0         NaN    False

In [59]:
#borrado permanente
df3.drop('capital', axis=1)

  provincia  poblacion  year  debt  2_lenguaje
a         M  1500000.0  1900   1.0         NaN
b         M  2000000.0  1950   0.0         NaN
c         M  3000000.0  2000   2.0         NaN
d         B   500000.0  1900   0.5         NaN
e         B  1500000.0  2000   7.0         NaN

In [60]:
df3
#capital sigue intacto

  provincia  poblacion  year  debt  2_lenguaje  capital
a         M  1500000.0  1900   1.0         NaN     True
b         M  2000000.0  1950   0.0         NaN     True
c         M  3000000.0  2000   2.0         NaN     True
d         B   500000.0  1900   0.5         NaN    False
e         B  1500000.0  2000   7.0         NaN    False

In [61]:
#cambio permanente
df3.drop('capital', axis=1, inplace=True)

In [62]:
df3

  provincia  poblacion  year  debt  2_lenguaje
a         M  1500000.0  1900   1.0         NaN
b         M  2000000.0  1950   0.0         NaN
c         M  3000000.0  2000   2.0         NaN
d         B   500000.0  1900   0.5         NaN
e         B  1500000.0  2000   7.0         NaN

### indexing, selección y filtrado

In [64]:
s3

provincia
B    3000000.0
M    6000000.0
P     120000.0
V     700000.0
Name: poblacion_2000, dtype: float64

In [67]:
s3[['V','M']]

provincia
V     700000.0
M    6000000.0
Name: poblacion_2000, dtype: float64

In [68]:
s3[2:]

provincia
P    120000.0
V    700000.0
Name: poblacion_2000, dtype: float64

In [70]:
s3['P':'V']

provincia
P    120000.0
V    700000.0
Name: poblacion_2000, dtype: float64

In [71]:
s3 > 1e06

provincia
B     True
M     True
P    False
V    False
Name: poblacion_2000, dtype: bool

In [72]:
s3[s3 > 1e06]

provincia
B    3000000.0
M    6000000.0
Name: poblacion_2000, dtype: float64

In [73]:
df3[df3['year'] > 1950]

  provincia  poblacion  year  debt  2_lenguaje
c         M  3000000.0  2000   2.0         NaN
e         B  1500000.0  2000   7.0         NaN

In [74]:
df3['year'] > 1950

a    False
b    False
c     True
d    False
e     True
Name: year, dtype: bool

In [76]:
df3[(df3['year'] > 1900) & (df3['debt'] > 1)]

  provincia  poblacion  year  debt  2_lenguaje
c         M  3000000.0  2000   2.0         NaN
e         B  1500000.0  2000   7.0         NaN

In [77]:
df3[df3['year'] > 1900][df3['debt'] > 1]

/home/dsc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

  provincia  poblacion  year  debt  2_lenguaje
c         M  3000000.0  2000   2.0         NaN
e         B  1500000.0  2000   7.0         NaN