# Python:

## Functions

In [2]:
def sumar(x,y):
    return x + y

sumar (3,5)

8

In [7]:
# parámetros opcionales

def sumar (x,y, z=None, flag=False):
    if(flag):
        print("flag es True")
    if(z==None):
        return x + y
    else:
        return x + y + z

print(sumar (3,6))
print(sumar(3,4,5))
print(sumar(2,7,1, True))

9
12
flag es True
10

In [9]:
#asignación de una función a una variable

def sumar(x,y):
    return x + y

a = sumar
a(5,6)

11

12

## Tipos y secuencias

In [11]:
type('esto es una cadena')

str

In [12]:
type(None)

NoneType

In [15]:
type(8)

int

In [14]:
type(8.0)

float

In [16]:
type(sumar)

function

In [19]:
# tuplas son estructuras de datos inmutables, NO PUEDEN ser alteradas

x = (4, 'hola', 'g', 5.0)
print(x)
type(x)

(4, 'hola', 'g', 5.0)

tuple

In [23]:
# las listas son estructuras mutables PUEDEN ser alteradas

y = [4, 'hola', 4.5, 'j']
print(y)
y.append(32)
print(y)
type(y)

[4, 'hola', 4.5, 'j']
[4, 'hola', 4.5, 'j', 32]

list

In [24]:
# iterar en una lista

for item in y:
    print(item)

4
hola
4.5
j
32

In [28]:
# o utilizando el operador indexing

i = 0
while(i != len(y)):
    print(y[i])
    i+=1

4
hola
4.5
j
32

### operaciones con listas

In [32]:
# concatenar listas

lista = [3,4,'hola'] + ['otra lista', 32]
print(lista)

# repetir listas

print(['uno', 'dos'] * 4)

# operador in

'hola' in lista

[3, 4, 'hola', 'otra lista', 32]
['uno', 'dos', 'uno', 'dos', 'uno', 'dos', 'uno', 'dos']

True

### operaciones con cadenas y subcadenas

In [38]:
x = 'esto es una pequeña cadena'
print(x[2])
print(x[0:2])

#últimos elementos de la cadena

print(x[-1])
print(x[-4:-2])

# seleccionar desde -> a

print(x[:3])
print(x[10:])

t
es
a
de
est
a pequeña cadena

In [45]:
# operador split

nombre = "Gustavo Adolfo Becquer".split(' ')[0] #selecciona la primera palabra
apellidos = "Gustavo Adolfo Becquer".split(' ')[1:]
print(nombre)
print(apellidos)

unaLista = 'esto lo convertimos en lista separando cada palabra'.split(' ')
print('****************')
print(unaLista)

Gustavo
['Adolfo', 'Becquer']
****************
['esto', 'lo', 'convertimos', 'en', 'lista', 'separando', 'cada', 'palabra']

In [47]:
# diccionarios

miDiccionario = {'Pepe Botella': 'pepe@gmail.com', 'Juanita Vitra': 'jvitra@gmail.com'}
miDiccionario['Juanita Vitra']

'jvitra@gmail.com'

In [51]:
miDiccionario['Anselmo Rodriguez'] = None
miDiccionario['Anselmo Rodriguez']

In [56]:
#iterar sobre todas las llaves:

for nombre in miDiccionario:
    print(miDiccionario[nombre])

pepe@gmail.com
jvitra@gmail.com
None

In [61]:
# iterar sobre todos los valores:

for nombre in miDiccionario.values():
    print(nombre)

pepe@gmail.com
jvitra@gmail.com
None

In [64]:
# iterar sobre todos los items de la lista:
for nombre, email in miDiccionario.items():
    print(nombre)
    print(email)

Pepe Botella
pepe@gmail.com
Juanita Vitra
jvitra@gmail.com
Anselmo Rodriguez
None

In [66]:
for nombre in miDiccionario.items():
    print(nombre)
    print(nombre[1])

('Pepe Botella', 'pepe@gmail.com')
pepe@gmail.com
('Juanita Vitra', 'jvitra@gmail.com')
jvitra@gmail.com
('Anselmo Rodriguez', None)
None

In [67]:
# desenpaquetar una secuencia en diferentes variables

datos = ('Gustavo Adolfo', 'Claudio Domínguez Bastida', 'GAbecquer@gmail.com')

nombre, apellido, email = datos

print(nombre)
print(email)

Gustavo Adolfo
GAbecquer@gmail.com

In [69]:
print('Gustavo ' + 2)

TypeError: must be str, not int

In [70]:
print('Gustavo ' + str(2))

Gustavo 2

In [71]:
# formateo de texto

archivo_ventas = {
'precio': 3.24,
'num_items': 4,
'persona': 'Gustavo'}

sales_statement = '{} compró {} item(s) a un precio de {} cada uno, por un total de  {}'

print(sales_statement.format(archivo_ventas['persona'],
                             archivo_ventas['num_items'],
                             archivo_ventas['precio'],
                             archivo_ventas['num_items']*archivo_ventas['precio']))

Gustavo compró 4 item(s) a un precio de 3.24 cada uno, por un total de  12.96